# Practice Project: GDP Data extraction and processing
## Introduction

In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

**PROJECT - LAB FROM IBM PYTHON COURSE - SKILLS NETWORKS - IBM**
<br>
***Student: Edwin X SÃ¡nchez M.***

In [36]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [37]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (1.26.4)

In [38]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (5.2.2)

In [39]:
#Import the necesary libraries
import numpy as np
import pandas as pd

# his section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [40]:
#Extract the required GDP data from the URL:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.
You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [41]:
# Extract tables from webpage using Pandas.

tables_web_pages = pd.read_html(URL)
dataF = tables_web_pages[3];

# Replace the column headers with column numbers
dataF.columns = range(dataF.shape[1]);

# Retain columns with name of country and value of GDP quoted by IMF.

dataF = dataF[[0,2]];
# Retain the Rows indicating the top 10 economies of the world.
dataF = dataF.iloc[1:11,:];
# Assign column names as "Country" and "GDP (Million USD)"
dataF.columns = ['Country', 'GDP (Million USD)'];
dataF

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP (Billion USD)`.

In [42]:
# Change the data type of the 'GDP (Million USD)' column to integer.
dataF['GDP (Million USD)'] = dataF['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
dataF[['GDP (Million USD)']] = dataF[['GDP (Million USD)']]/1000
# Use numpy.round() method to round the value to 2 decimal places.
dataF[['GDP (Million USD)']] = np.round(dataF[['GDP (Million USD)']]);
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
dataF.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'});

### Exercise 3
Load the DataFrame to the CSV file named "Largest_economies.csv"

In [43]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
dataF.to_csv('./Largest_economies.csv')